<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HTML Meta Tags -->
    <meta name="description" content="Lazzzy Hub offers a variety of resources to help web designers and developers to find a variety of efficient tools such as templates, fonts, icons and graphics for their projects.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="lazzzy Hub">
    <meta itemprop="description" content="Lazzzy Hub offers a variety of resources to help web designers and developers to find a variety of efficient tools such as templates, fonts, icons and graphics for their projects.">
    <meta itemprop="image" content="https://image.ibb.co/ifhSPH/Screenshot_5.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://www.lazzzyhub.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="lazzzy Hub">
    <meta property="og:description" content="Lazzzy Hub offers a variety of resources to help web designers and developers to find a variety of efficient tools such as templates, fonts, icons and graphics for their projects.">
    <meta property="og:image" content="https://image.ibb.co/ifhSPH/Screenshot_5.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="lazzzy Hub">
    <meta name="twitter:description" content="Lazzzy Hub offers a variety of resources to help web designers and developers to find a variety of efficient tools such as templates, fonts, icons and graphics for their projects.">
    <meta name="twitter:image" content="https://image.ibb.co/ifhSPH/Screenshot_5.png">

    <!-- Meta Tags Generated via http://heymeta.com -->

    <!-- Meta from Bing-->
    <meta name="msvalidate.01" content="E49F68B45EF4BDB47A11D1FE0D7F7F9E" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="vendors/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css" />


    <link rel="stylesheet" type="text/css" href="resources/css/style.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/queries.css" />
    <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->


    <title>lazzzy Hub</title>

    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="resources/favicons/site.webmanifest">
    <link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
