{{> header}}
    <div class="container-fluid">

      <!--HEADER-->
      <header id="home">


          <div class="row clearfix">

            <h1>{{creator}}'s resources</h1>

          </div>

          <div class="row">
            <div class="form-box">

              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="https://lazzzyhub.us18.list-manage.com/subscribe/post?u=dd645d5aeab412dd5628fc67c&amp;id=974b3dc912" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">

                    <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Enter Email">

                    <input type="text" value="" name="FNAME" id="mce-FNAME" class="input" placeholder="Enter First name">

                    <input type="text" value="" name="LNAME" id="mce-LNAME" class="input" placeholder="Enter Last name">

                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd645d5aeab412dd5628fc67c_974b3dc912" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Add Me" name="subscribe" id="mc-embedded-subscribe" class="button input btn-full btn_add_me"></div>
                  </div>
                </form>

              </div>
              <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
              <script>
                (function($) {
                  window.fnames = new Array();
                  window.ftypes = new Array();
                  fnames[0] = 'EMAIL';
                  ftypes[0] = 'email';
                  fnames[1] = 'FNAME';
                  ftypes[1] = 'text';
                  fnames[2] = 'LNAME';
                  ftypes[2] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
              </script>
              <!--End mc_embed_signup-->

            </div>
          </div>

        <!--navbar-right ml-auto-->

        <div class="row">
          <ul class="main-nav landing-nav">
            <li><a href="/ide"><button class="btn btn-primary btn-lg" role="button">IDE</button></a></li>
            <li><a href="/html5"><button class="btn btn-primary btn-lg" role="button">html5</button></a></li>
            <li><a href="/css3"><button class="btn btn-primary btn-lg" role="button">CSS3</button></a></li>
            <li><a href="/javascript"><button class="btn btn-primary btn-lg" role="button">JavaScript</button></a></li>
            <li><a href="/nodejs"><button class="btn btn-primary btn-lg" role="button">Node.js</button></a></li>
            <li><a href="/expressjs"><button class="btn btn-primary btn-lg" role="button">Express.js</button></a></li>
            <li><a href="/npm"><button class="btn btn-primary btn-lg" role="button">npm</button></a></li>
            <li><a href="/mongodb"><button class="btn btn-primary btn-lg" role="button">mongodb</button></a></li>
            <li><a href="/fonts"><button class="btn btn-primary btn-lg" role="button">fonts</button></a></li>
            <li><a href="/colors"><button class="btn btn-primary btn-lg" role="button">colors</button></a></li>
            <li><a href="/images"><button class="btn btn-primary btn-lg" role="button">images</button></a></li>
            <li><a href="/icons"><button class="btn btn-primary btn-lg" role="button">icons</button></a></li>
            <li><a href="/inspiration"><button class="btn btn-primary btn-lg" role="button">inspiration</button></a></li>
          </ul>
        </div>

        <!-- <div class="row">
          <ul class="main-nav landing-nav">

          </ul>
        </div>

        <div class="row">
          <ul class="main-nav landing-nav">

          </ul>
        </div> -->


      </header>


      <!--FOOTER-->
      <footer>

        <div class="row">
          <ul class="social-links">
            <li><a href="https://www.instagram.com/jassemco/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="https://twitter.com/jassem?lang=en" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://github.com/jassem1988" target="_blank"><i class="ion-social-github"></i></a></li>
          </ul>
        </div>

        <div class="row hide-content">
          <h4>Personal Projects</h4>
        </div>

        <div class="row">
          <ul class="footer-nav">
            <li><a href="https://github.com/jassem1988" target="_blank">About Jassem</a></li>
            <li><a href="https://jassem-portfolio.herokuapp.com/" target="_blank">Work with me</a></li>
          </ul>
        </div>

        <div class="row">
          <h3>{{creator}}</h3>
        </div>


        <div class="row">
          <p>
            &copy; Copyright {{date}}.
          </p>
        </div>

        <div class="row">
          <p>
            All rights reserved. Powered by <span>{{creator}}.</span>
          </p>
        </div>

      </footer>
    </div>
{{> footer}}
