{{> header}}
    <div class="container-fluid">

      <!--HEADER-->
      <header id="home">

          <div class="row clearfix">

            <h1>{{creator}}'s resources</h1>

          </div>

        <!--navbar-right ml-auto-->

        <div class="row">
          <ul class="main-nav">
            <li><a href="/ide"><button class="btn btn-primary btn-lg" role="button">IDE</button></a></li>
            <li><a href="/html5"><button class="btn btn-primary btn-lg" role="button">html5</button></a></li>
            <li><a href="/css3"><button class="btn btn-primary btn-lg" role="button">CSS3</button></a></li>
            <li><a href="/javascript"><button class="btn btn-primary btn-lg" role="button">JavaScript</button></a></li>
          </ul>
        </div>

        <div class="row">
          <ul class="main-nav ">
            <li><a href="/nodejs"><button class="btn btn-primary btn-lg" role="button">Node.js</button></a></li>
            <li><a href="/expressjs"><button class="btn btn-primary btn-lg" role="button">Express.js</button></a></li>
            <li><a href="/npm"><button class="btn btn-primary btn-lg" role="button">npm</button></a></li>
            <li><a href="/mongodb"><button class="btn btn-primary btn-lg" role="button">mongodb</button></a></li>
          </ul>
        </div>

        <div class="row">
          <ul class="main-nav">
            <li><a href="/fonts"><button class="btn btn-primary btn-lg" role="button">fonts</button></a></li>
            <li><a href="/colors"><button class="btn btn-primary btn-lg" role="button">colors</button></a></li>
            <li><a href="/images"><button class="btn btn-primary btn-lg" role="button">images</button></a></li>
            <li><a href="/icons"><button class="btn btn-primary btn-lg" role="button">icons</button></a></li>
            <li><a href="/inspiration"><button class="btn btn-primary btn-lg" role="button">inspiration</button></a></li>
          </ul>
        </div>

      </header>


      <!--FOOTER-->
      <footer>

        <div class="row">
          <ul class="social-links">
            <li><a href="https://www.instagram.com/jassemco/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="https://twitter.com/jassem?lang=en" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://github.com/jassem1988" target="_blank"><i class="ion-social-github"></i></a></li>
          </ul>
        </div>

        <div class="row hide-content">
          <h4>Personal Projects</h4>
        </div>

        <div class="row">
          <ul class="footer-nav">
            <li><a href="https://github.com/jassem1988" target="_blank">About Jassem</a></li>
            <li><a href="https://jassem-portfolio.herokuapp.com/" target="_blank">Work with me</a></li>
          </ul>
        </div>

        <div class="row">
          <h3>{{creator}}</h3>
        </div>


        <div class="row">
          <p>
            &copy; Copyright {{date}}.
          </p>
        </div>

        <div class="row">
          <p>
            All rights reserved. Powered by <span>{{creator}}.</span>
          </p>
        </div>

      </footer>
    </div>
{{> footer}}
