{{> header}}
    <div class="container-fluid">

      <!--HEADER-->
      <header id="home">

          <div class="row clearfix">

            <h1>{{creator}}'s resources</h1>

          </div>

        <!--navbar-right ml-auto-->

        <div class="row">
          <ul class="main-nav">
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">IDE</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">html5</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">CSS3</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">JavaScript</button></li>
          </ul>
        </div>

        <div class="row">
          <ul class="main-nav ">
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">Node.js</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">Express.js</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="/npm">npm</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">mangodb</button></li>
          </ul>
        </div>

        <div class="row">
          <ul class="main-nav">
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">fonts</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">colors</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">images</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">icons</button></li>
            <li><button class="btn btn-primary btn-lg" role="button" href="#development">inspiration</button></li>
          </ul>
        </div>


      </header>


      <!--FOOTER-->
      <footer>

        <div class="row">
          <ul class="social-links">
            <li><a href="https://www.instagram.com/jassemco/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="https://twitter.com/jassem?lang=en" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://github.com/jassem1988" target="_blank"><i class="ion-social-github"></i></a></li>
          </ul>
        </div>

        <div class="row hide-content">
          <h4>Personal Projects</h4>
        </div>

        <div class="row">
          <ul class="footer-nav">
            <li><a href="https://github.com/jassem1988" target="_blank">About Jassem</a></li>
            <li><a href="https://jassem-portfolio.herokuapp.com/" target="_blank">Work with me</a></li>
          </ul>
        </div>

        <div class="row">
          <h3>{{creator}}</h3>
        </div>


        <div class="row">
          <p>
            &copy; Copyright {{date}}.
          </p>
        </div>

        <div class="row">
          <p>
            All rights reserved. Powered by <span>{{creator}}.</span>
          </p>
        </div>

      </footer>
    </div>
{{> footer}}
