{{> header}}
    <div class="container-fluid">

      <!--NPM PACKAGES-->

      <section class="development js--section-development " id="development">
        <div class="row">
          <i class="ion-ios-monitor-outline icon-big"></i>
          <h2 class="pages"><a>Npm Packages</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://authy.com/wp-content/uploads/npm-logo.png" alt="Npm Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://www.npmjs.com/" target="_blank">npm</a></h3>
              <p class="resources-p">
                Npm is the package manager for JavaScript and the world’s largest software registry.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://authy.com/wp-content/uploads/npm-logo.png" alt="Npm Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://www.npmjs.com/package/body-parser" target="_blank">body-parser</a></h3>
              <p class="resources-p">
                It Parses incoming request bodies in a middleware before your handlers, available under the req.body property.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="#" alt="" class="resources-img" />
              <h3 class="resources-header">Atom</h3>
              <p class="resources-p">
                The text editor I use for my HTML/CSS and Javascript projects.
              </p>
            </div>
          </div>

        </div>

      </section>

      <!--NPM-LIBRARIES-->

      <section class="html orange-bk" id="html">
        <div class="row">
          <i class="ion-social-html5-outline icon-big icon-white"></i>
          <h2 class="pages"><a>npm libraries</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://lodash.com/assets/img/lodash.svg" alt="Lodash Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://lodash.com/" target="_blank">Lodash</a></h3>
              <p class="resources-p">
                A modern JavaScript utility library delivering modularity, performance & extras.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://raw.githubusercontent.com/yargs/yargs/HEAD/yargs-logo.png" alt="Yargs Icon" class="resources-img css-tricks" />
              <h3 class="resources-header"><a href="https://www.npmjs.com/package/yargs/" target="_blank">Yargs</a></h3>
              <p class="resources-p">
                Yargs helps you build interactive command line tools, by parsing arguments and generating an elegant user interface.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/w3c.png" alt="W3C icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://validator.w3.org/" target="_blank">HTML Validate</a></h3>
              <p class="resources-p">
                The official HTML validation service by W3C.
              </p>
            </div>
          </div>

        </div>

        <div class="row second-one hide-content">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/html-reference-icon.png" alt="html reference Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://htmlreference.io/" target="_blank">HTML Reference Visual Guide</a></h3>
              <p class="resources-p">
                A free guide to HTML. It features all elements and attributes.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content hide-content">
            <div class="resources-box">
              <img src="resources/img/css-tricks-star.png" alt="CSS-Tricks Icon" class="resources-img css-tricks" />
              <h3 class="resources-header"><a href="https://css-tricks.com/snippets/html/glyphs/" target="_blank">HTML Entity Reference by CSS-Tricks</a></h3>
              <p class="resources-p">
                The quick reference for HTML numeric code, hex code and ISO code.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content hide-content">
            <div class="resources-box">
              <img src="resources/img/w3c.png" alt="W3C icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://validator.w3.org/#validate_by_input" target="_blank">HTML Validate</a></h3>
              <p class="resources-p">
                The official HTML validation service by W3C.
              </p>
            </div>
          </div>

        </div>

      </section>


      <!--TESTING PACKAGES-->

      <section class="css" id="css">
        <div class="row">
          <i class="ion-social-css3-outline icon-big"></i>
          <h2 class="pages"><a>Testing packages</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://camo.githubusercontent.com/f351b47195dda49f144cdbef2140a58cb7e1d3c3/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f6d6f6368612e737667" alt="Mocha Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://mochajs.org/" target="_blank">Mocha</a></h3>
              <p class="resources-p">
                Mocha is a feature-rich JavaScript test framework running on Node.js and in the browser, making asynchronous testing simple and fun.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://authy.com/wp-content/uploads/npm-logo.png" alt="Npm Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://github.com/mjackson/expect" target="_blank">Expect</a></h3>
              <p class="resources-p">
                When you use expect, you write assertions similarly to how you would say them.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="https://authy.com/wp-content/uploads/npm-logo.png" alt="Npm Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://github.com/visionmedia/supertest" target="_blank">SuperTest</a></h3>
              <p class="resources-p">
                HTTP assertions made easy.
              </p>
            </div>
          </div>
        </div>


      </section>

      <!--JAVASCRIPT-RESOURCES-->

      <section class="javascript purple-bk" id="javascript">
        <div class="row">
          <i class="ion-social-javascript-outline icon-big icon-white"></i>
          <h2 class="pages"><a>JavaScript Resources</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/mdn.png" alt="MDN Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" target="_blank">JavaScript reference by MDC</a></h3>
              <p class="resources-p">
                Same as the HTML and CSS, but for JavaScript. Gives you Advance info.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/css-tricks-star.png" alt="CSS-Tricks Icon" class="resources-img" />
              <h3 class="resources-header"><a href="#" target="_blank">HTML Entity Reference by CSS-Tricks</a></h3>
              <p class="resources-p">
                The quick reference for HTML numeric code, hex code and ISO code.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="#" alt="" class="resources-img" />
              <h3 class="resources-header">Atom</h3>
              <p class="resources-p">
                The text editor I use for my HTML/CSS and Javascript projects.
              </p>
            </div>
          </div>

        </div>

      </section>

      <!--FONTS-TYPOGRAPHY-->

      <section class="fonts" id="fonts">
        <div class="row">
          <i class="ion-edit icon-big"></i>
          <h2 class="pages"><a>Typography and Fonts</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/Google-Fonts-Logo.png" alt="Google Fonts Icon" class="resources-img google-fonts" />
              <h3 class="resources-header"><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></h3>
              <p class="resources-p">
                Free fonts and easy to use, with links and multi-fonts download at once.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/css-tricks-star.png" alt="CSS-Tricks Icon" class="resources-img" />
              <h3 class="resources-header"><a href="#" target="_blank">HTML Entity Reference by CSS-Tricks</a></h3>
              <p class="resources-p">
                The quick reference for HTML numeric code, hex code and ISO code.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="#" alt="" class="resources-img" />
              <h3 class="resources-header">Atom</h3>
              <p class="resources-p">
                The text editor I use for my HTML/CSS and Javascript projects.
              </p>
            </div>
          </div>

        </div>

      </section>

      <!--COLORS-PALETTES-->

      <section class="colors orange-bk" id="colors">
        <div class="row">
          <i class="ion-paintbucket icon-big icon-white"></i>
          <h2 class="pages"><a>Colors and Palettes</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/getuicolors.png" alt="Unicolors Icon" class="resources-img unicolors-logo" />
              <h3 class="resources-header"><a href="http://getuicolors.com/" target="_blank">Uicolors</a></h3>
              <p class="resources-p">
                Shows you the best primary colors for your website.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/0to255.png" alt="0to255 Icon" class="resources-img _0to255-logo" />
              <h3 class="resources-header"><a href="http://www.0to255.com/" target="_blank">0to255</a></h3>
              <p class="resources-p">
                A great tool for finding lighter and darker colors based on any color.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/uigradients.png" alt="uiGradients logo" class="resources-img" />
              <h3 class="resources-header"><a href="https://uigradients.com/" target="_blank">uiGradients</a></h3>
              <p class="resources-p">
                Beautiful gradiants with CSS code for web design.
              </p>
            </div>
          </div>

        </div>
      </section>

      <!--IMAGES AND VIDEOS-->

      <section class="images" id="images">
        <div class="row">
          <i class="ion-images icon-big"></i>
          <h2 class="pages"><a>Images and Videos</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/pixels.png" alt="Pixels Icon" class="resources-img unicolors-logo" />
              <h3 class="resources-header"><a href="http://www.premiumpixels.com/" target="_blank">Pixels</a></h3>
              <p class="resources-p">
                A free source for images and design tools.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/lorempixum_signet.png" alt="lorempixel icon" class="resources-img" />
              <h3 class="resources-header"><a href="http://lorempixel.com/" target="_blank">Lorempixel</a></h3>
              <p class="resources-p">
                Placeholder images generator for web design or prints in color or gray scale.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/toptal-logo-remotive.png" alt="toptal Icon" class="resources-img _0to255-logo" />
              <h3 class="resources-header"><a href="https://www.toptal.com/designers/subtlepatterns/" target="_blank">Toptal</a></h3>
              <p class="resources-p">
                A collection of patterns ready to use.
              </p>
            </div>
          </div>

        </div>
      </section>

      <!--ICONS and LOGOS-->

      <section class="icons purple-bk" id="icons">
        <div class="row">
          <i class="ion-asterisk icon-big icon-white"></i>
          <h2 class="pages"><a>Icons and Logos</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/ionicons.png" alt="Ion Icons Icon" class="resources-img" />
              <h3 class="resources-header"><a href="http://ionicons.com/" target="_blank">Ion Icons</a></h3>
              <p class="resources-p">
                Very beautiful font icons including social media icons.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/lorempixum_signet.png" alt="lorempixel icon" class="resources-img" />
              <h3 class="resources-header"><a href="http://lorempixel.com/" target="_blank">Lorempixel</a></h3>
              <p class="resources-p">
                Placeholder images generator for web design or prints in color or gray scale.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/toptal-logo-remotive.png" alt="toptal Icon" class="resources-img _0to255-logo" />
              <h3 class="resources-header"><a href="https://www.toptal.com/designers/subtlepatterns/" target="_blank">Toptal</a></h3>
              <p class="resources-p">
                A collection of patterns ready to use.
              </p>
            </div>
          </div>

        </div>
      </section>

      <!--INSPIRATION-->

      <section class="inspiration" id="inspiration">
        <div class="row">
          <i class="ion-paintbrush icon-big"></i>
          <h2 class="pages"><a>Design Inspiration</a></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/html5up.jpg" alt="HTML5 Up Icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://html5up.net/" target="_blank">HTML5 Up</a></h3>
              <p class="resources-p">
                Free responsive HTML5 templates.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="resources-box">
              <img src="resources/img/quackit.png" alt="Quackit icon" class="resources-img" />
              <h3 class="resources-header"><a href="https://www.quackit.com/html/templates/simple_website_templates.cfm" target="_blank">Quackit</a></h3>
              <p class="resources-p">
                Bootstrap, flex-box, css-grid templates for free.
              </p>
            </div>
          </div>

          <div class="col-md-4 hide-content">
            <div class="resources-box">
              <img src="resources/img/toptal-logo-remotive.png" alt="toptal Icon" class="resources-img _0to255-logo" />
              <h3 class="resources-header"><a href="https://www.toptal.com/designers/subtlepatterns/" target="_blank">Toptal</a></h3>
              <p class="resources-p">
                A collection of patterns ready to use.
              </p>
            </div>
          </div>

        </div>
      </section>

      <!--FOOTER-->
      <footer>

        <div class="row">
          <ul class="social-links">
            <li><a href="https://www.instagram.com/jassemco/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="https://twitter.com/jassem?lang=en" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://github.com/jassem1988" target="_blank"><i class="ion-social-github"></i></a></li>
          </ul>
        </div>

        <div class="row hide-content">
          <h4>Personal Projects</h4>
        </div>

        <div class="row">
          <ul class="footer-nav">
            <li><a href="https://github.com/jassem1988" target="_blank">About Jassem</a></li>
            <li><a href="https://jassem-portfolio.herokuapp.com/" target="_blank">Work with me</a></li>
          </ul>
        </div>

        <div class="row">
          <h3>{{creator}}</h3>
        </div>


        <div class="row">
          <p>
            &copy; Copyright {{date}}.
          </p>
        </div>

        <div class="row">
          <p>
            All rights reserved. Powered by <span>{{creator}}.</span>
          </p>
        </div>

      </footer>
    </div>
{{> footer}}
